.redTitle {
    color: #c90018;
    font-size: 45 rpx;
    margin-left: 24 rpx;
}

.closeBtn {
    position: absolute;
    right: 10rpx;
    top: 10rpx;
    width: 40rpx;
    height: 40rpx;
    cursor: pointer;
}